<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" [src]="productItem.imageUrl" />


    <!-- <img class="bd-placeholder-img card-img-top"
 width="100%" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.jKrT1HwDViFQVBwfKsMrkAHaFF%26pid%3DApi&f=1" /> -->

    <div class="card-body">
      <p class="card-text">
        <strong>
            {{productItem.price|currency:'PLN'}}
        </strong>
        </p>
      <p class="card-text">{{productItem.description|slice:0:50}}...</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="me-2 py-2 btn btn-sm btn-primary product-btn" (click)="handleAddToCart()"> Add to cart </button>
          <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View details</button>
        </div>
        <!-- <small class="text-muted">{{245|currency:'PLN'}}</small> -->
      </div>
    </div>
</div>
